.App {
  background-color: #9190b1;
  height: 100vh;
  display: flex;
}

.timer-controls{
  padding: 24px;
  flex: 1;
  border-right: 1px solid #9fb0d3;
}
.timer-control{
  margin-top: 10px;
}
.timer-controls_manage{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timers-container{
  padding: 14px;
  flex: 4;
  display: flex;
  align-items: baseline;
}
.timer-wrapper{
  border: 1px solid #a5a8be;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  margin-right: 10px;
}




